@media (min-width: 606px) {
  body {
    font-size: 16px;
  }

  header {
    height: 140px !important;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  .button-holder {
    flex-direction: row;
  }
  .button-holder > div:nth-of-type(2) {
    margin-top: 0px !important;
  }
  #hero {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #hero > div:first-of-type {
    height: 303px;
  }

  #hero > div:nth-of-type(2) {
    padding-left: 20%;
    padding-right: 20%;
  }

  #hero > div:nth-of-type(3) {
    display: hidden;
  }

  #gallery {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #gallery > img {
    width: 164px;
    height: 156px;
    margin: 11px;
  }

  #overline {
    width: 80%;
  }
  #footer {
    height: 428px;
  }
  #footer h2 {
    font-size: 40px;
    text-align: center;
  }

  #footer div.content {
    flex-direction: column;
    padding: 0%;
  }

  #footer p {
    text-align: center;
  }
}
